 #grid{ 
	background-color: #000;
	display: grid;
	grid-column-gap: 20px;
	grid-row-gap: 10px;
	grid-template-columns: 30px auto;
}

.grid-item{
	background-color: #000;
	font-size: 20px;
	padding: 10px;
	text-align: left;
	color: #fff;
}